extends layout

block content
  h4.mt-2 Message Board

  .container.mt-2.px-0
    if user
      p Welcome back, #{user.first_name}
      if user.role !== 'visitor'
        button.btn.btn-primary
          a(href='/post/create' style="text-decoration:none; color: white;")
            | Add a post

  include post_list